

{% extends 'accounts/base.html' %}

{% block title %}Accounts APP - Update password{% endblock %}

{% block body %}

<div class="container mt-4">
        <h2> Accounts App - Password Update Page</h2>  <br>
            <form id="user_form" method="post">
         <div class="form-row">
                    {% csrf_token %}
            <div class="form-group myforms">
                        {{ form.as_p }}
            </div>
         </div>
               <!-- Provide a button to click to submit the form. -->
               <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
    </div>

{% endblock %}